.list{
    color: white;
    width: 80%;
    background-color: #bf07ac;
    height: auto;
    min-height: 40px;
    margin: 20px auto;
    border-radius: 5px;
}

.notes {
    width: 100%;
    text-transform: capitalize;
}

.list p {
    padding: 8px;
    position: relative;
}

.list p span{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 15px;
}

.list p input {
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 18px;
    width: 80%;
    list-style-type: none;
    word-wrap: break-word;
}

.list p input:focus {
    outline: none;
}